@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
    line-height: 26px;
}
body{
    background-color: whitesmoke;
}
header {
	height: 130px;
	width: 100%;
	background-color: #202020;
	color: #fff;
	display: block;
	position: fixed;
	font-size: 1em;
	z-index: 1;
    transition: all .3s;
}
header h1 {
	text-transform: uppercase;
	margin: 20px 0px;
	padding: 0px 40px;
    text-align: center;
    color: #fff;
}
h2#sub{
    color:#7bac3f;
    text-align: center;
}
nav.sidebar {
    background-color: #e2e2e2;
    position: fixed;
    top: 130px;
    height: calc(100% - 130px);
    width: 20px;
    padding: 35px 10px 20px 20px;
    box-sizing: border-box;
    transition: all .3s;
   
}
.show_sidebar {
    display: none;
    position: fixed;
    z-index: 2;
    top: 45px;
    left: 15px;
    background-color: #303030;
    border-radius: 10%;
    color: #fff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 60px;
    text-align: center;
   
}
.close_sidebar {
    position: relative;
    right: 10px;
    display: none;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 14px;
    margin-right: 0;
}
.sidebar_mobile {
    left: 0 !important;
    width: 260px !important;
}
.title_expand {
    font-weight: 600;
    display: block;
    text-decoration: none;
    border-left: 3px solid #494949; 
    position: relative;
}
a.title_expand {
    position: relative;
    top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #202020;
    text-decoration: none;
    margin: -20px 0 0 9px; 
    padding: 20px 0 20px 15px; 

}
main {
  padding-top: 130px;
}
section {
    box-sizing: border-box;
    margin-left: 20%;
    width: 80%;
}
.section_info {
    color: #606060;
    padding: 30px 60px;
}

h2.header {
	font-size: 1.6em;
    color: #606060;
    font-weight: 100;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #606060;
}
h3.header{
    font-size: 1em;
	color: #494949;
    font-weight: bold;
}

.parallax-container {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.parallax {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
}

.parallax img {
	display:none;
	position:absolute;
	left:50%;
	bottom:0;
	min-width:100%;
	min-height:100%;
	transform:translateX(-50%);
}

footer {
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}


 @media screen and (max-width: 1024px) {
     section {
         width: 100%;
         margin-left: 0;
     }
     nav.sidebar {
        left: -100%;
     }
     .close_sidebar {
         display: block;
     }
     .show_sidebar {
         display: block;
     }
 }
 @media screen and (min-width: 1024px) {
    nav.sidebar {
        width: 20% !important;
        transition: all 0s !important;
    }
    .close_sidebar {
        display: none !important;
    }
}
 @media screen and (max-width: 768px) {
    section {
        width: 100%;
        margin-left: 0;
    }
    nav.sidebar {
       left: -100%;
    }
    .close_sidebar {
        display: block;
    }
    .show_sidebar {
        display: block;
    }

     header {
        font-size: 0.7em;
     } 
 }
 @media screen and (max-width: 420px) {
     header {
        font-size: 0.7em;
     } 
     section {
        width: 100%;
        margin-left: 0;
    }
    nav.sidebar {
       left: -100%;
    }
    .close_sidebar {
        display: block;
    }
    .show_sidebar {
        display: block;
        left: 5px;
    }
}
 